<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
  <application>
    <!-- E2E uses the unsigned Metro development manifest; release keeps the pinned OTA certificate. -->
    <meta-data
        android:name="expo.modules.updates.CODE_SIGNING_CERTIFICATE"
        tools:node="remove" />
    <meta-data
        android:name="expo.modules.updates.CODE_SIGNING_METADATA"
        tools:node="remove" />
  </application>
</manifest>
